<div class="request-form {{ isvisible }}">
    {% if ismobile %}
    <div class="request-form-close show-m">
      <button type="button">Kapat</button>
    </div>
    {% endif %}
		<div class="request-form__context">
			<form>
				<ul>
					<li>
						<h1 class="request-form__title">BİLGİ TALEP FORMU</h1>
					</li>
					<li>
						<div class="form-group"><input type="text" name="rf__name" class="form-group__input" placeholder="Adınız, soyadınız"/></div>
					</li>
					<li>
						<div class="form-group"><input type="text" name="rf__email" class="form-group__input" placeholder="E-posta"/></div>
					</li>
					<li>
						<div class="form-group"><input type="text" name="rf__phone" class="form-group__input" placeholder="Telefon"/></div>
					</li>
					<li>
						<b class="request-form__subtitle">Satın Alım Amacınız</b>
					</li>
					<li class="flex">
						<div class="form-group__checkbox">
							<input type="checkbox" id="rf__buy_investment" name="rf__buy_investment"/>
							<label for="rf__buy_investment">Yatırım</label>
						</div>
						<div class="form-group__checkbox">
							<input type="checkbox" name="rf__buy_sitting" id="rf__buy_sitting"/>
							<label for="rf__buy_sitting">Oturum</label>
						</div>
					</li>
					<li class="confirm-area">
						<div class="form-group__checkbox">
							<input type="checkbox" name="rf__confirm_info" id="rf__confirm_info"/>
							<label for="rf__confirm_info">Bilgilendirme yazısını okudum, kabul ediyorum</label>
						</div>
					</li>
					<li>
						<div class="form-group__buttons">
							<button type="button" class="btn">
								<label>GÖNDER</label>
							</button>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>