<div class="section-page">
	<div class="section-page__context">
		<div class="istanbul-story">
			<div class="istanbul-story-image" data-aos="fade-up"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/01020304.png" alt=""/></div>
			<article>
				<h1 class="istanbul-story__title" data-aos="fade-up" data-aos-delay="300">
					<strong>BİR</strong>
					İSTANBUL MASALI...</h1>
				<p class="istanbul-story__desc" data-aos="fade-up" data-aos-delay="300">
					<label>Bir varmış, bir varmış... İstanbul'un içinde, İstanbul'dan da öte, Bir başka İstanbul varmış...</label>
					<label>Mavi ile yeşilin raks ettiği parkları, insanın ruhuna yaşam sevinci üfleyen cıvıl cıvıl meydanları, düzenli yerleşimi, içinde dost bir sesin selamını müşdeleyen o özlediğiniz mahalle kültürüyle Avrupa Yakası konut projesi 3. İstanbul, size nesiller boyu anlatılacak yepyeni bir istanbul masalı yaşatacak.</label>
				</p>
			</article>
		</div>
		<div class="istanbul-story__props" data-aos="fade-up" data-aos-delay="300">
			<ul>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-01.png" alt=""/></span>
						<label>Yürüyüş<br/>Parkuru</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-02.png" alt=""/></span>
						<label>Basket<br/>Sahaları</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-03.png" alt=""/></span>
						<label>Mini Futbol<br/>Sahası</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-04.png" alt=""/></span>
						<label>Tenis<br/>Kortları</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-05.png" alt=""/></span>
						<label>Çocuk Oyun<br/>Alanları</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-06.png" alt=""/></span>
						<label>Lounge</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-07.png" alt=""/></span>
						<label>Playstation<br/>Odası</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-08.png" alt=""/></span>
						<span></span>
						<label>Bilardo<br/>Odası</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-09.png" alt=""/></span>
						<label>Masa Tenisi<br/>Odası</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-10.png" alt=""/></span>
						<label>Hobi<br/>Atölyesi</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-11.png" alt=""/></span>
						<label>Yüzme<br/>Havuzu</label>
					</div>
				</li>
				<li class="story-prop">
					<div class="prop-item">
						<span class="istanbul-story__prop"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-12.png" alt=""/></span>
						<label>Spa</label>
					</div>
				</li>
			</ul>
			<div class="istanbul-story__arrow show-flex-m">
				<div class="istanbul-story__arrow--left"></div>
				<div class="istanbul-story__arrow--right"></div>
			</div>
		</div>
	</div>
</div>
