<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>3. İstanbul</title>
		<link href="{{ __base__ }}/assets/css/all.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>
		<script> {% block config %}{% endblock %}</script>
		</head>

		<body>
			{% set page = 'index' %}

			{% include "partials/header.twig" %}

			{% block body %}{% endblock %}

			{% include "partials/main/sections/contact-footer.twig" %}
			{% include "partials/footer-logos.twig" %}

			<script src="{{ __base__ }}/assets/js/app.js"></script>
		</body>
	</html>
