{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'basinda'
{% endblock %}
{% block body %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>BASINDA</strong>
				3. İSTANBUL</h1>
			<p>Ülkemizin en köklü gazeteleri ve haber kanallarında 3. İstanbul Başakşehir
				<br/>Konut Projesi hakkında çıkan haberleri sizler için derledik.</p>
		</div>
		<div class="basin-items">
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image01.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Vatan</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image02.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image03.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image04.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Ülke TV</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
				<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image01.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Vatan</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image02.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image03.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image04.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Ülke TV</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
				<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image01.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Vatan</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image02.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image03.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Takvim</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
			<div class="basin-items__item">
				<div class="basin-items__item-image">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/press/image04.jpg" alt=""/></div>
				<div class="basin-items__item-title">
					<span>Ülke TV</span>
					<label>30.01.2018</label>
				</div>
				<div class="basin-items__item-button">
					<a href="#">Haberi Oku</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
