<div class="istanbul-way-top"></div>
<div class="istanbul-way-story">
	{% if show_header %}
		<div class="istanbul-way-story__header">
			<h1 class="istanbul-way-story__title" data-aos="fade-up" data-aos-delay="300">
				<strong>BÜTÜN YOLLAR</strong>
				3. İSTANBUL'A ÇIKACAK
			</h1>
			<p class="istanbul-way-story__desc" data-aos="fade-up" data-aos-delay="300">
				<label>Nereye gitsem içimde istanbul sevdası...</label>
				<label>Nereye gitsem yok bana ondan yakını...</label>
			</p>
		</div>
	{% endif %}
	<div class="istanbul-way-story__image">
		<div class="item">
			<img src="image" alt=""/>
		</div>
	</div>
	<div class="istanbul-way-story__area">
		<div class="flex way-group way-group-1" data-aos="fade-up" data-aos-delay="300">
			<div class="item item-01">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>3. Köprü</h1>
				</div>
				<div class="item-desc">
					<h2>
						20
						<label>dk</label>
					</h2>
				</div>
			</div>
			<div class="item item-02">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-02.png" alt=""/></div>
				<div class="item-title">
					<h1>3. Havalimanı</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>
		</div>
		<div class="flex way-group way-group-2" data-aos="fade-up" data-aos-delay="500">

			<div class="item item-04">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-04.png" alt=""/></div>
				<div class="item-title">
					<h1>Metro Kent</h1>
				</div>
				<div class="item-desc">
					<h2>
						2
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="item item-03">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-03.png" alt=""/></div>
				<div class="item-title">
					<h1>TEM Otoyolu</h1>
				</div>
				<div class="item-desc">
					<h2>
						5
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="item item-05">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-05.png" alt=""/></div>
				<div class="item-title">
					<h1>Atatürk Havalimanı</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>
		</div>
		<div class="flex way-group way-group-3" data-aos="fade-up" data-aos-delay="700">
			<div class="item item-06">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>FSM Köprüsü</h1>
				</div>
				<div class="item-desc">
					<h2>
						30
						<label>dk</label>
					</h2>
				</div>
			</div>
			<div class="item item-07">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>15 Temmuz Şehitler Köprüsü</h1>
				</div>
				<div class="item-desc">
					<h2>
						30
						<label>dk</label>
					</h2>
				</div>
			</div>
			<div class="item item-08">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-03.png" alt=""/></div>
				<div class="item-title">
					<h1>E-5</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>
		</div>
	</div>
	{##############################################################}
	<div class="istanbul-way-story__mobile-area">
		<div class=" istanbul-way-story__mobile-context">
			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>3. Köprü</h1>
				</div>
				<div class="item-desc">
					<h2>
						20
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-02.png" alt=""/></div>
				<div class="item-title">
					<h1>3. Havalimanı</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-04.png" alt=""/></div>
				<div class="item-title">
					<h1>Metro Kent</h1>
				</div>
				<div class="item-desc">
					<h2>
						2
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-03.png" alt=""/></div>
				<div class="item-title">
					<h1>TEM Otoyolu</h1>
				</div>
				<div class="item-desc">
					<h2>
						5
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-05.png" alt=""/></div>
				<div class="item-title">
					<h1>Atatürk Havalimanı</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>

			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>FSM Köprüsü</h1>
				</div>
				<div class="item-desc">
					<h2>
						30
						<label>dk</label>
					</h2>
				</div>
			</div>
			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-01.png" alt=""/></div>
				<div class="item-title">
					<h1>15 Temmuz
						<br/>Şehitler Köprüsü</h1>
				</div>
				<div class="item-desc">
					<h2>
						30
						<label>dk</label>
					</h2>
				</div>
			</div>
			<div class="istanbul-way-story__mobile-item">
				<div class="item-image"><img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/way-03.png" alt=""/></div>
				<div class="item-title">
					<h1>E-5</h1>
				</div>
				<div class="item-desc">
					<h2>
						12
						<label>dk</label>
					</h2>
				</div>
			</div>


		</div>
		<div class="istanbul-way-story__mobile__arrow show-flex-m">
			<div class="istanbul-way-story__mobile__arrow--left"></div>
			<div class="istanbul-way-story__mobile__arrow--right"></div>
		</div>
	</div>
</div>
<div class="istanbul-way-bottom"></div>
{% if show_header == false %}
	<div class="istanbul-way-story__button--mobile" data-aos="fade-up" data-aos-delay="300">
		<a href="#">Güzergah Belirle</a>
	</div>
{% else %}
	<div class="istanbul-way-story__button" data-aos="fade-up" data-aos-delay="300">
		<a href="#">Güzergah Belirle</a>
	</div>
	<div class="istanbul-way-story__button--mobile" data-aos="fade-up" data-aos-delay="300">
		<a href="{{ __static__ }}/lokasyon">Detaylar</a>
	</div>
{% endif %}
