{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'yasam-secenekleri';
{% endblock %}

{% block body %}
	{% set page_content = false %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1 data-aos="fade-up">
				<strong>YAŞAM</strong> SEÇENEKLERİ
			</h1>
			<p data-aos="fade-up">Ah İstanbul, ah! Bir ömür yeter mi hiç seni yaşamaya?</p>
		</div>
		{% include "partials/main/sections/yasam-secenekleri-story-content.twig" %}
	</div>

{% endblock %}
